# Compiled Object files
*.slo
*.lo
*.o
*.ko

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.mp*.*
*.tmp_versions
modules.order
*.mod.c
Module.symvers
mp*app

test
work
monitor

*.jar
*.class
*make\.settings
